pipeline/PL4_Switch_Excel_CSV.json
{
	"name": "PL4_Switch_Excel_CSV",
	"properties": {
		"activities": [
			{
				"name": "LKUP_GET_FILETYPE_CSV_EXCEL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT L4_switch_type \nFROM dbo.ecom_tbl_job a\nJOIN dbo.ecom_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CSV_EXCEL_SQLDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch_CSV_EXCEL_FILES",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "LKUP_GET_FILETYPE_CSV_EXCEL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('LKUP_GET_FILETYPE_CSV_EXCEL').output.firstRow.L4_switch_type\n",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Excel",
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "csv",
							"activities": [
								{
									"name": "EXEC_CSV_PARQUET",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL_CSV_PARQUET",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-24T12:41:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}